.questionForm {
    display: flex;
    justify-content: space-between;
    width: 480px;
    border: 1px RoyalBlue;
    border-style: none solid solid solid
}

.questionText {
    width: 200px;
    padding: 4px;
}

.possibleAnswer {
    padding: 1px;
    width: 30px;
    background-color: WhiteSmoke;
}

.statistics {
    display: inline-block;
    border-style: solid none solid solid;
    border-width: 1px;
}

