.questionOuter {
    width: 380px;
    border-style: solid;
    border-width: 1px;
}

.questionInner {
    width: 300px;
    padding: 4px;
}

.answerButton {
    padding: 1px;
    width: 30px;
    background-color: WhiteSmoke;
}

